{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery Store</title>
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
</head>
<body>
    <header>
        <h1>Grocery Store</h1>
        <nav>
            <a href="{% url 'category_list' %}">Categories</a>
            {% if user.is_authenticated %}
                <a href="{% url 'product_list' %}">Products</a>
                <a href="{% url 'view_cart' %}">Cart</a>         
                <a href="{% url 'order_list' %}">My Orders</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}"></a>
            {% endif %}
        </nav>
    </header>

    <hr>
    
    {% if messages %}
      <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 Grocery Store</p>
    </footer>
</body>
</html>
